Lists

Lists can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

List is a collection of items in a particular order

You can put anything in a list, and items in the list need not be related to each other

1.) Creating Lists
2.) Accessing Lists
3.) Indexing and Slicing Lists
4.) Basic List Methods
5.) Nesting Lists
6.) Introduction to List Comprehensions

In [10]:
#Creating Lists
my_list =[1 , 2 , 3, 4, 5 , 6]
print(my_list)
print(type(my_list))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [2]:
bicycles = ['trek' , 'cannondale' , 'redline' , 'specialized']
print(bicycles [0])

#Note : - When we'll ask for single item, it'll return without square brackets or quotation marks.

trek

In [3]:
#Change the case 

print(bicycles[0].title())

Trek

In [ ]:
#Index Position Starts at 0 not 1

mobile_companies = ['Apple' , 'Samsung' ,'Redmi' ,'Oppo' ,'Vivo']

Question : How would you print " BMW " using both forward and reverse indexing ?

In [4]:
bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]

In [6]:
#Using individual values from a List
message = "My next bike would be " +bikes[-1]
print(message)

My next bike would be Royal Enfield

In [7]:
#Changing, Adding and Removing Elements


mobile_companies = ['Apple' , 'Samung' ,'Redmi' ,'Oppo' ,'Vivo']
mobile_companies[1] = "Samsung"

print(mobile_companies)

['Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo']

Adding Elements to the List

In [9]:
#Adding at end
mobile_companies

['Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo']

In [12]:
mobile_companies.append('nokia')
print(mobile_companies)

['Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia', 'nokia', 'nokia']

In [16]:
#Inserting into the List

#Inserting at position 0
mobile_companies.insert( 0 , "Sony")
print(mobile_companies)

['Sony', 'Sony', 'Sony', 'Sony', 'Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia', 'nokia', 'nokia']

Question: Make the changes so that resultant list should look like:
    ['Sony ' ,'Apple','Lenovo' ,'Samsung', 'Redmi','HTC', 'Oppo', 'Vivo', 'nokia']

Removing Element From The List
    1. Using del
    2. Using Pop
    3. Removing by Value

In [19]:
#Using del

print(mobile_companies)
del mobile_companies[2]
print(mobile_companies)

['Sony', 'Sony', 'Sony', 'Sony', 'Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia', 'nokia', 'nokia']
['Sony', 'Sony', 'Sony', 'Apple', 'Samsung', 'Redmi', 'Oppo', 'Vivo', 'nokia', 'nokia', 'nokia']

In [25]:
#Using Pop

popped_mobile = mobile_companies.pop()
print(mobile_companies)
print(popped_mobile)

['Sony', 'Sony', 'Sony', 'Apple', 'Samsung', 'Oppo', 'Vivo', 'nokia']
nokia

In [24]:
#Removing an Item by Value

mobile_companies.remove('Redmi')
print(mobile_companies)

ValueError: list.remove(x): x not in list

In [26]:
Not_Available = "Sony"
mobile_companies.remove(Not_Available)
mobile_companies

['Sony', 'Sony', 'Apple', 'Samsung', 'Oppo', 'Vivo', 'nokia']

In [27]:
#Remove will delete only first occurrence of the element

Find Length of the List

In [28]:
len(mobile_companies)

7

Find Reverse of a List

In [32]:
print(mobile_companies)
mobile_companies.reverse()
print(mobile_companies)

['nokia', 'Vivo', 'Oppo', 'Samsung', 'Apple', 'Sony', 'Sony']
['Sony', 'Sony', 'Apple', 'Samsung', 'Oppo', 'Vivo', 'nokia']

Sorting a List

Sort vs Sorted
Sort :- Sorting a List Permanently
Sorted :- Sorting a List Temporarily

In [36]:
bikes = ["Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]
bikes.sort()
bikes

['BMW', 'Ducati', 'Harley-Davidson', 'Roadmaster', 'Royal Enfield']

In [38]:
#To sort in reverse
bikes.sort(reverse = True)
bikes

['Royal Enfield', 'Roadmaster', 'Harley-Davidson', 'Ducati', 'BMW']

In [40]:
bikes = [Ducati" , "Harley-Davidson" , "Roadmaster" ,"BMW" , "Royal Enfield"]
print(sorted(bikes))
print(bikes)

['BMW', 'Ducati', 'Harley-Davidson', 'Roadmaster', 'Royal Enfield']
['Ducati', 'Harley-Davidson', 'Roadmaster', 'BMW', 'Royal Enfield']

In [42]:
#To print each element of list
print(bikes[0])
print(bikes[1])
print(bikes[2])
print(bikes[3])
print(bikes[4])

Ducati
Harley-Davidson
Roadmaster
BMW
Royal Enfield

Loop: To perform same action on every item of the list

In [43]:
#Looping Through Entire List
for bike in bikes:
    print(bike)

Ducati
Harley-Davidson
Roadmaster
BMW
Royal Enfield

In [46]:
for bike in bikes:
    print("I love " + bike )
    print("I want it\n")

I love Ducati
I want it

I love Harley-Davidson
I want it

I love Roadmaster
I want it

I love BMW
I want it

I love Royal Enfield
I want it

In [47]:
for bike in bikes:
    print("I love " + bike )
    print("I want it\n")

print("I love to ride")

I love Ducati
I want it

I love Harley-Davidson
I want it

I love Roadmaster
I want it

I love BMW
I want it

I love Royal Enfield
I want it

I love to ride

Mistakes regarding Indentation

In [50]:
#Forgetting to Indent
for bike in bikes:
print("I love " + bike )
print("I want it\n")

I love Royal Enfield
I want it

In [51]:
#Forgetting to Indent Additional Line
for bike in bikes:
    print("I love " + bike )
print("I want it\n")

I love Ducati
I love Harley-Davidson
I love Roadmaster
I love BMW
I love Royal Enfield
I want it

In [52]:
#Indenting Unnecessarily
    print("I love " + bike )
print("I want it\n")

IndentationError: unexpected indent (<ipython-input-52-ea4899eb4a23>, line 2)

In [53]:
#Indenting Unnecessarily after the loop

for bike in bikes:
    print("I love " + bike )
    print("I want it\n")

    print("I love to ride")

I love Ducati
I want it

I love to ride
I love Harley-Davidson
I want it

I love to ride
I love Roadmaster
I want it

I love to ride
I love BMW
I want it

I love to ride
I love Royal Enfield
I want it

I love to ride

In [54]:
#Forgetting The Colon
for bike in bikes
    print("I love " + bike )
    print("I want it\n")

SyntaxError: invalid syntax (<ipython-input-54-e700fb71b704>, line 2)

Making Numerical Lists

In [56]:
#Using range( ) fnx

for value in range(1,5):
    print(value)

1
2
3
4

In [58]:
#Using range to make list of Numbers
numbers = list(range(1 ,6))
numbers

[1, 2, 3, 4, 5]

In [61]:
#Using range to make list of Alternate Numbers
numbers = list(range(0 ,6 , 2))
numbers

[0, 2, 4]

QUESTION : Write a command to create a list [3,10,17,24,31]

In [63]:
#Program to compute a list of squares of numbers from 0 to 10

squares = []

for num in range(0,11):
    squares.append(num*num)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Statistics with a List of Number

In [66]:
digits = [34 , 5 , 25 , 6 , 2]
print(min(digits))
print(max(digits))
print(sum(digits))

2
34
72

List Comprehension :  Generate List in one line of code i.e. combining for loop and list creation in single line

In [67]:
squares = [num**2 for num in range(0,11)]

Slicing a List

In [68]:
bikes

['Ducati', 'Harley-Davidson', 'Roadmaster', 'BMW', 'Royal Enfield']

In [73]:
#To print complete List
print(bikes[:])

['Ducati', 'Harley-Davidson', 'Roadmaster', 'BMW', 'Royal Enfield']

In [71]:
# To print first 2 elements

In [74]:
print(bikes[ : 2])

['Ducati', 'Harley-Davidson']

In [77]:
#To print 2nd, 3rd , 4th and 5th value
print( bikes[1 :5])

['Harley-Davidson', 'Roadmaster', 'BMW', 'Royal Enfield']

Copying a List

In [83]:
non_medical_subjects = ["Phy" , "Chem " , "Eng"]
medical_subjects = non_medical_subjects

non_medical_subjects.append("Maths")
medical_subjects.append("Bio")

print("Non medical Subjects : ")
print(non_medical_subjects)

print("Medical Subjects : ")
print(medical_subjects)

Non medical Subjects :
['Phy', 'Chem ', 'Eng', 'Maths', 'Bio']
Medical Subjects :
['Phy', 'Chem ', 'Eng', 'Maths', 'Bio']