# Data Input and Output

This notebook is the reference code for getting input and output, pandas can read a variety of file types using its pd.read_ methods.

In [1]:
#import numpy as np
import pandas as pd

## CSV

### CSV Input

In [9]:
df11 = pd.read_csv('demo')
df11

   Anant    Dheraj    Dinesh   Shreyas
0       0       1.0      2.0         3
1       4       NaN      7.0         6
2       8       9.0      NaN         5
3      12      13.0     14.0        15

### CSV Output

In [8]:
df11['Daman'] = df11['Anant'] +df11['Dheraj']
df11
df11.to_csv('abc',index=False)

KeyError: 'Anant'

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [7]:
df =pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')
df

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

### Excel Output

In [ ]:
df.to_excel('Excel_12.xlsx')

In [ ]:
#Missing Values
import numpy as np

df = pd.DataFrame({'A' : [3 , 5 , np.nan] ,
                   'B' : [6, np.nan , np.nan]  ,
                   'C' : [ 4  ,7 ,3]})

In [ ]:
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis = 1)

In [ ]:
df.dropna(thresh = 2)

In [ ]:
df

In [ ]:
df.fillna(value = "Fill Value")

In [ ]:
df['A'].fillna(value = df['A'].mean())